footer {
    background-color: #343a40; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 30px 0; /* Espaciado interno */
  }

  footer p {
    margin-bottom: 10px; /* Espaciado inferior entre párrafos */
  }

  footer p:last-child {
    margin-bottom: 0; /* Elimina el espaciado inferior del último párrafo */
  }

  /* Estilos para el enlace de correo electrónico */
  footer a {
    color: #ffc107; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
    transition: color 0.3s; /* Transición de color */
  }

  footer a:hover {
    color: #ffca28; /* Cambio de color al pasar el mouse */
  }
  
  /* Estilos para el contenedor del footer */
  .footer-container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrado horizontal */
  }