<footer class="bg-dark text-white py-4">
    <br><br>
    <div class="container text-center footer-container">
        <p>Colita Feliz - Refugio de Animales</p>
        <p>Dirección: Calle Principal, Ciudad, País</p>
        <p>Teléfono: +123456789</p>
        <p>Email: <a href="mailto:info@colitafeliz.com">infocolitafeliz.com</a></p>
        <p>Horario de atención:</p>
        <p>Lunes a Viernes: 9:00am - 6:00pm</p>
        <p>Sábados y Domingos: Cerrado</p>
        <p>© 2024 Colita Feliz - Todos los derechos reservados</p>
    </div>
    <br><br>
</footer>
