<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="titulo">Nuestra Historia</h1>
        <p class="historia">
          En Colita Feliz, nos dedicamos apasionadamente a rescatar y cuidar a perros y gatos sin hogar. Todo comenzó hace 10 años, cuando un grupo de amigos preocupados por el bienestar de los animales decidió unirse y fundar este refugio.
        </p>
        <p class="historia">
          Desde entonces, hemos trabajado incansablemente para brindar amor, atención médica y hogares amorosos a cada animal que entra por nuestras puertas. Nuestro objetivo es encontrar un hogar permanente para cada mascota y promover la adopción responsable.
        </p>
      </div>
      <div class="col-md-6 img-container">
        <img src="../../assets/imagenes/imgNosotros/refugio.jpg" alt="Colita Feliz" class="img-fluid img-effect">
      </div>
    </div>
  </div>
  <hr>

  <div class="equipo">

    <h3 class="titulo">Nuestro Equipo</h3>
    <br>
    <div class="circulo">
        <img src="../../assets/imagenes/imgNosotros/ahylin.png" alt="Participante 1">
        <div class="nombre">Ahylin</div>
      </div>
      
      <div class="circulo">
        <img src="../../assets/imagenes/imgNosotros/giovanny.png" alt="Participante 2">
        <div class="nombre">Giovanny</div>
      </div>
      
      <div class="circulo">
        <img src="../../assets/imagenes/imgNosotros/ana.png" alt="Participante 3">
        <div class="nombre">Ana</div>
      </div>

      <div class="circulo">
        <img src="../../assets/imagenes/imgNosotros/Jefferson.png" alt="Participante 4">
        <div class="nombre">Jefferson</div>
      </div>
  </div>
  <hr>

  <div class="video">
    <iframe [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
  </div>


